body {  
    font-family: Calibri, Helvetica, sans-serif;  
    background-color: rgb(254, 240, 254);  
  }  
  button {   
         background-color: #b7dfb8;   
         width: 100%;  
          color: rgb(171 114 9);;   
          padding: 15px;   
          margin: 10px 0px;   
          border: none;   
          cursor: pointer;   
           }   
   form {   
          border: 3px solid #f1f1f1;   
      }   
   input[type=text], input[type=password] {   
          width: 100%;   
          margin: 8px 0;  
          padding: 12px 20px;   
          display: inline-block;   
          border: 2px solid rgb(192, 231, 192);   
          box-sizing: border-box;   
      }  
   button:hover {   
          opacity: 0.7;   
      }   
    .cancelbtn {   
          width: auto;   
          padding: 10px 18px;  
          margin: 10px 5px;  
      }   
          
       
   .container {   
          padding: 25px;   
          background-color: rgb(240, 249, 252);  
      }   

/* Footer */
.footer {
    background-color: #333333;
    font-size: 13px;
}

.footer-container {
    padding: 24px;
}

.footer-copyright {
    color: #a9a9a9;
    text-align: center;
    padding-top: 24px;
}

.head{
    background-color: rgb(235, 188, 233);
    width: 100%;
    height: 70%;
    top: 20%;
    left: 40%;
}
